@charset "utf-8";

/* 총선인싸 */
.content {width: 100%; height: auto; background: url(https://cwstatic.asiae.co.kr/election2020/inside/ins_bg.png) center top no-repeat; }
.insd_wrap {padding-top: 60px; position: relative; width: 100%; height: auto; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.insd_wrap:after,.match_wrap:after,.insd_wrap .time_wrap:after, .match_wrap .time_wrap:after,.time_news:after {content:'';display: block;clear: both;}
.insd_wrap .ins_tit {margin: 0 auto; width: 820px; height: 245px; background: url(https://cwstatic.asiae.co.kr/election2020/inside/h_tit.png) no-repeat; background-size: contain;}
.insd_wrap .time_wrap {width: 100%;}

/* 타임별 뉴스 */
.time_news {float: left; width: 70%;}
.time_news ul:after,.time_news ul li:after {content:'';display: block;clear: both;}
.time_news ul {position: relative; border-bottom: 0px solid #ddd;}
.time_news ul:before {content:''; position: absolute; left: 0; top: 0; width: 2px; height: 100%; background: #d8d8d8;}

.time_news ul li {position: relative;width: 100%; font-size: 0;padding-top: 10px; margin-top: 10px;}
.time_news ul li:first-child {margin-top: 0;}
.time_news ul li:after {content:'';display: block;clear: both;}

.time_news ul li.date {margin-left: -20px; margin-top: 20px; display: inline-block; width:auto; padding: 8px 25px; border: 1px solid #959595; font-size: 18px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; color: #959595; border-radius: 27px; background: #fff;}
.time_news ul li.date:first-child {margin-top: 0;}

.time_news ul li .data_bx {float: left;display: inline-block; margin: 5px 0 0 25px; }
.time_news ul li .data_bx .time {position: relative; display: inline-block;font-size: 15px; color: #111; font-family: 'notokr';}
.time_news ul li .data_bx .time:before {content:'';  position: absolute; left: -33px; top: 3px; width: 18px; height: 18px; background: url(https://cwstatic.asiae.co.kr/election2020/main/time_ck.png) no-repeat; background-size: contain;}    
.time_news ul li .data_bx .name {display:block;margin-top: 5px; padding: 0 5px; line-height: 30px; text-align: center; font-size: 18px; font-family: 'notokr'; letter-spacing: -1px; background: #B2F5EF;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

.time_news ul li .news_bx {position: relative; display:inline-block;font-size: 0;margin:5px 0 0 25px; padding-top: 20px; padding-bottom: 35px; border-bottom: 1px solid #ddd;}
.time_news ul li .news_bx.last {border: 0;}
.time_news ul li .news_bx:after {content:'';display: block;clear: both;}
.time_news ul li .news_bx .thumb {display: block; margin-top: 20px; float: left; }
.time_news ul li .news_bx .thumb a {position: relative; font-size: 0;  overflow: hidden;}
.time_news ul li .news_bx .thumb a:after {content:''; position: absolute; left: 0; top: 0; bottom: 0; right: 0; border: 1px solid rgba(0,0,0,.03);}

.time_news ul li .news_bx .tit {display: block; position: absolute;left: 0; top: 0; width: 100%; overflow: hidden;}
.time_news ul li .news_bx .tit a {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%; font-size: 25px; line-height: 30px; font-family: 'notokrR'; letter-spacing: -1px;}
.time_news ul li .news_bx .tit:hover a {text-decoration: underline;}

.time_news ul li.one_txt .news_bx {margin-top: 0;padding-top: 9px; padding-bottom: 50px; width: 72%;}
.time_news ul li.one_txt .news_bx .tit {position: relative;}

.time_news .btn_more {margin-top: 25px; text-align: center;}
.time_news .btn_more:hover a {text-decoration: underline;}
.time_news .btn_more a {position: relative; font-size: 17px; font-family: 'notokrR'; color: #595959; }
.time_news .btn_more a:after {content:'';position: absolute; right: -15px; top: 5px; width: 12px;height: 12px; background: url(https://cwstatic.asiae.co.kr/election2020/inside/btn_mr.png) no-repeat; background-size: contain;}

/* 키워드 박스 */
.keyword {float: right; width: 30%; height: auto; padding-bottom: 10px; margin-bottom: 20px; background:transparent linear-gradient(320deg, #FCE4E0 0%, #F8EED1 100%) 0% 0% no-repeat padding-box;border-radius: 15px;}

.keyword h1 { margin-top:30px; text-align: center; font-size: 27px; color: #6256ff; font-family: 'notokrR'; letter-spacing: -1px; text-decoration: underline;}
.keyword .word-cloud { width: 100%; margin: 20px auto; line-height: 31px; text-align: center; }
.keyword .word-cloud li { text-decoration: none; margin: 0 25px; display:inline-block; font-family: 'notokrR'; letter-spacing: -1.5px;}
.keyword .word-cloud li.tag1 { font-size: 17px; color: #333;}
.keyword .word-cloud li.tag2 { font-size: 1.25rem; color:#f56855!important;}
.keyword .word-cloud li.tag3 { font-size: 1.5rem; color:#f56855!important;}
.keyword .word-cloud li.tag4 { font-size: 2rem; color:#f56855!important; width: 80%;}


@media only screen and (max-width:1100px){
    .insd_wrap{padding: 60px 20px 0;}  
    
    .time_news {padding-left: 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
    }
    
    .time_news ul li .data_bx {margin: 2% 0 0 4.2%;}
    .time_news ul li .news_bx,.time_news ul li.one_txt .news_bx {margin: 2% 0 0 4.2%; width: 75%;}
    
}
@media only screen and (max-width:890px){
    .insd_wrap .ins_tit {width: 100%;}
    .time_news {width: 66%;}
    .time_news ul li.date {padding: 7px 20px; font-size: 16px;}
    
    .time_news ul li .data_bx .time:before {left: -30px;}
    .time_news ul li .data_bx .name {font-size: 16px; line-height: 28px; padding: 0 3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
    
    .time_news ul li .news_bx .tit a {font-size: 23px;}
    .time_news ul li.one_txt .news_bx {padding-bottom: 35px;}
    .keyword {width: 34%;}
}
@media only screen and (max-width:767px){
    .content {width: 100%; height: auto; background: url(https://cwstatic.asiae.co.kr/election2020/main/mobile/mobile_bg_0309.png) no-repeat 0 0; background-size: contain;}
    .insd_wrap .ins_tit {width: 380px; height: 248px; background: url(https://cwstatic.asiae.co.kr/election2020/inside/m_tit.png) no-repeat; background-size: contain;}
    
    .time_news {position: relative; width: 100%;}
    .time_news ul {padding-bottom: 40px;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
    .time_news ul li {width: 100%;}
    .time_news ul li .data_bx {float: left;display: inline-block; margin: 5px 0 0 25px; }
    .time_news ul li .data_bx .time {margin-right: 10px; position: relative; display: inline-block;font-size: 15px; color: #111; font-family: 'notokr'; }
    .time_news ul li .data_bx .time:before {content:'';  position: absolute; left: -33px; top: 3px; width: 18px; height: 18px; background: url(https://cwstatic.asiae.co.kr/election2020/main/time_ck.png) no-repeat; background-size: contain;}

    .time_news ul li .data_bx .name {display: inline-block; margin: 0 3px; line-height: 30px; text-align: center; font-size: 18px; font-family: 'notokr'; letter-spacing: -1px; background: #B2F5EF;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
    
    .time_news ul li .news_bx {padding-top: 10px; margin-left: 4%; display: table;table-layout: fixed; width: 95%;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;border-bottom: 0; padding-bottom: 0;}
    .time_news ul li .news_bx .thumb {float: none; display: table-cell; width: 120px; font-size: 0;}
    .time_news ul li .news_bx .thumb a {position: relative; font-size: 0; border-radius: 5px; overflow: hidden;}
    .time_news ul li .news_bx .thumb a:after {content:''; position: absolute; left: 0; top: 0; bottom: 0; right: 0; border: 1px solid rgba(0,0,0,.03);}
    .time_news ul li .news_bx .tit {position: relative;padding:0 15px; display: table-cell; vertical-align: middle; width: 100%; overflow: hidden;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
    .time_news ul li .news_bx .tit a {text-overflow: ellipsis; overflow: hidden; white-space: normal; width: 100%; font-size: 17px; line-height: 23px; font-family: 'notokrR'; letter-spacing: -1px;}
    .keyword {margin-top: 20px; width: 100%;}
    
    
    
}
@media only screen and (max-width:425px){
    /*.content {width: 100%; height: auto; background: url(https://cwstatic.asiae.co.kr/election2020/inside/bg_mins.png) top center no-repeat; }*/
    .insd_wrap .ins_tit {margin: 0 auto; width: 270px; height: 176px;}
    
    .time_news {padding-left: 10px;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
    .time_news ul {border-bottom: 1px solid #ddd;}
    .time_news ul li {padding: 0;}
    .time_news ul li.date {padding: 5px 20px; font-size: 15px;}
    .time_news ul li .data_bx .name {font-size: 15px; line-height: 22px;}
    
    .time_news ul li .news_bx {margin: 0 6% 0px;}
    .time_news ul li.one_txt .news_bx {padding-bottom: 0;}
    
    .time_news .btn_more {margin-top: 20px;}
}
@media only screen and (max-width:375px){

}
@media only screen and (max-width:320px){
    .insd_wrap .time_wrap, .match_wrap .time_wrap {margin-top: 50px;}
    .time_news ul li.date {font-size: 14px;}
    .time_news ul li .news_bx .thumb {width: 95px;}
    .time_news ul li .news_bx .tit {padding: 0 10px;}
    .time_news ul li .news_bx .tit a {font-size: 15px; line-height: 20px;}
    .time_news .btn_more {margin-top: 15px;}
    .time_news .btn_more a {font-size: 15px;}
}









