@charset "utf-8";

@font-face { font-family: 'Recipekorea'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cafe24Shiningstar'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }

/* font */
.font {font-family: 'notokrR'; font-size: 13px; color: #fff; letter-spacing: -1px;}

/* sec01 */
.sec01 {}
.vote_main {padding-top: 50px; box-sizing: border-box; text-align: center;}
.vote_main .title {display: inline-block; margin-bottom: 80px;}
.vote_main .title .hd {display: inline-block;}
.vote_main .title .hd:after {content:'';display: block;clear: both;}
.vote_main .title .hd > div {float: left;}
.vote_main .title .hd .tit_img {}
.vote_main .title .hd .tit_2020 {margin:20px 0 0 20px;}

.vote_main .title .tit_vote {margin-top: 25px;}

.vote_main .top_ns {display: inline-block; padding-bottom: 50px; box-sizing: border-box;}
.vote_main .top_ns:after {content:'';display: block;clear: both;}
.vote_main .top_ns .news {float: left; width: 310px; height: 260px; overflow: hidden; border-radius: 10px; background: lightgray;}
.vote_main .top_ns .second {margin: 0 15px;}

.vote_main .top_ns .news .thumb {position: relative; width: 100%; height: 100%;}
.vote_main .top_ns .news .thumb .img {position: relative; overflow: hidden; width: 100%; height: 100%; }
.vote_main .top_ns .news .thumb .img:after { transition: all .3s ease-in-out;}
.vote_main .top_ns .news .thumb:hover .img:after{position: absolute; left: 0; top: 0; right: 0; bottom: 0; content:''; width: 100%; height: 100%; background: rgba(0,0,0,.5);}

.vote_main .top_ns .thumb .txt_bx {position: absolute; bottom: -90px; left: 20px; padding: 10px; width: 270px; height: 160px; border-radius: 10px; background: #fff; box-sizing: border-box; text-align: left;transition: all .3s ease-in-out;}
.vote_main .top_ns .thumb .txt_bx .ico { }
.vote_main .top_ns .thumb:hover .txt_bx {bottom: -10px;}
.vote_main .top_ns .thumb .txt_bx .tit {position: relative; margin-bottom: 10px;}
.vote_main .top_ns .thumb:hover .txt_bx .tit:before {content: ''; position: absolute; top: -70px; left: 50%; width: 80px; height: 70px; transform: translateX(-50%); background: url(https://cwstatic.asiae.co.kr/election2020/main/paper.png) no-repeat;}
.vote_main .top_ns .thumb .txt_bx .tit a {font-family: 'notokrR'; font-size: 21px; line-height: 26px; color: #111; letter-spacing: -2px; text-overflow: ellipsis; overflow: hidden; box-sizing: border-box;}
.vote_main .top_ns .thumb .txt_bx:hover .tit a {text-decoration: underline;}
.vote_main .top_ns .thumb .txt_bx .s_txt a {font-family: 'notokrR'; font-size: 15px; line-height: 18px; color: #999; letter-spacing: -1.5px;}

/* sec02 */
.sec02 {}
.vote_talk {margin-top: 50px;text-align: center;}
.vote_talk .talk_hd {position: relative; top: 40px; margin: 0 auto; width: 726px;}
.vote_talk .talk_hd a {width: 100%; height: 100%;}

.vote_talk .talk_ct {padding-top: 60px; width: 100%; height: 410px; border: 3px solid #e6e6e6; border-radius: 30px; box-sizing: border-box;}
.vote_talk .talk_ct:after {content:'';display: block;clear: both;}
.vote_talk .talk_ct p {display: inline-block; position: relative;  border-radius: 15px; }
.vote_talk .talk_ct p a {position: relative; padding: 25px 50px; box-sizing: border-box;font-family: 'notokrR'; font-size: 16px; color: #111; letter-spacing: -1px;}
.vote_talk .talk_ct p:hover a {color: #fff;}

.vote_talk .talk_ct .t_red {position: relative;float: left; text-align: left; margin:0px 0 20px 50px; background:#FFEBE8; }
.vote_talk .talk_ct .t_red:hover {background:#FF7D6B; color:#fff;}
.vote_talk .talk_ct .t_red a:before {content:'';display: block;position: absolute; left: -15px; bottom: 15px; z-index: 1; width: 30px; height: 15px; background: url(https://cwstatic.asiae.co.kr/election2020/main/talk_r.png) no-repeat; background-size: contain;}
.vote_talk .talk_ct .t_red:hover a:before { background: url(https://cwstatic.asiae.co.kr/election2020/main/talk_onR.png) no-repeat; background-size: contain;}
.vote_talk .talk_ct .t_pup { float: right; margin: 0 20px 20px 0; background:#E1DEFF; }
.vote_talk .talk_ct .t_pup:hover {background:#6256FF; color:#fff;}
.vote_talk .talk_ct .t_pup a:after {content:'';display: block;position: absolute; right: -15px; bottom: 15px; width: 30px; height: 15px; background: url(https://cwstatic.asiae.co.kr/election2020/main/talk_p.png) no-repeat; background-size: contain;}
.vote_talk .talk_ct .t_pup:hover a:after {background: url(https://cwstatic.asiae.co.kr/election2020/main/talk_onP.png) no-repeat; background-size: contain;}

/* sec03 */
.sec03 {margin: 70px 0;}
.vote_party { width: 100%; }
.vote_party .party_ns {border-bottom: 1px solid #e6e6e6; padding-bottom: 50px;box-sizing: border-box;}
.vote_party .party_ns:after {content:'';display: block;clear: both;}
.vote_party .party {float: left; width: 315px; height: 420px; }
.vote_party .party > a {width: 100%;}
.vote_party .party.second {margin: 0 22px;}

.vote_party .party .thumb {font-size: 0;}
.vote_party .party .txt_bx {width: 100%;}
.vote_party .party .txt_bx .txt {margin: 20px 0 15px;}
.vote_party .party .txt_bx .txt a {font-size: 17px;font-family: 'notokrR'; line-height: 25px; letter-spacing: -1px; text-overflow: ellipsis;}
.vote_party .party .txt_bx .txt a:hover {text-decoration: underline;}
.vote_party .party .txt_bx .inbx {display: table;font-size: 0; overflow: hidden;}
.vote_party .party .txt_bx .inbx .img {display: table-cell; width: 100px; height: 64px; border: 1px solid rgba(0,0,0,.05); border-radius: 5px; box-sizing: border-box; overflow: hidden;}
.vote_party .party .txt_bx .inbx .img a {display: block; width: 100%; height: 100%; overflow: hidden;}
.vote_party .party .txt_bx .inbx .i_txt {padding-left: 15px; display: table-cell; vertical-align: middle; box-sizing: border-box;}
.vote_party .party .txt_bx .inbx .i_txt a {font-size: 17px;font-family: 'notokrR'; line-height: 25px; letter-spacing: -1px; text-overflow: ellipsis;}
.vote_party .party .txt_bx .inbx:hover .i_txt a {text-decoration: underline;}
.vote_party .party .txt_bx .t_inbx {margin-top: 10px;}
.vote_party .party .txt_bx .t_inbx:first-child {margin-top: 14px;}

.vote_party .btn_more {margin-top: 20px; text-align: center;}
.vote_party .btn_more a {display: inline-block; position: relative; font-family: 'notokrR'; font-size: 17px; color: #595959; letter-spacing: -1px;}
.vote_party .btn_more a:after {content:'';display: block; position: absolute; right: -15px; top: 4px; width: 9px; height: 15px; background: url(https://cwstatic.asiae.co.kr/election2020/main/btn_mr.png) no-repeat;}
.vote_party .btn_more a:hover {text-decoration: underline;}

/* sec04 */
.sec04 {margin: 0 auto 70px;width: 100%; height: 600px; background: url(https://cwstatic.asiae.co.kr/election2020/main/bg_inst.png) top center no-repeat;}
.vote_inst {}
.vote_inst .inst_hd {margin: 0 auto; width: 394px;}
.vote_inst .inst_hd a {margin-top: 75px; width: 100%; height: 100%;}

.vote_inst .inst_ct {margin-top: 40px;}
.vote_inst .inst_ct:after {content:'';display: block;clear: both;}
.vote_inst .inst_ct > ul {position: relative; display: table;font-family: 'notokrR';letter-spacing: -1px;}
.vote_inst .inst_ct > ul:before {content:'';display: block;position: absolute;}
.vote_inst .inst_ct > ul li {display: table-cell;}

.vote_inst .inst_ct > ul .thumb {width: 100px; height: 100px; background: url(https://cwstatic.asiae.co.kr/election2020/main/inst_th.png) top center no-repeat;}
.vote_inst .inst_ct > ul .thumb a {position: relative; width: 100%;height: 100%;}

.vote_inst .inst_ct > ul .txt_bx {vertical-align: middle; width: 380px;}
.vote_inst .inst_ct > ul .txt_bx .talk a { font-size: 23px; line-height: 30px; color: #111; text-overflow: ellipsis; word-break: break-all;}
.vote_inst .inst_ct > ul .txt_bx .ps {position: relative; display: block; text-align: right; font-size:15px; color: #595959; }
.vote_inst .inst_ct > ul .txt_bx .ps:before {content:'';display: block; position: absolute;right: 50px; top: 10px; width: 60px; height: 1px; background: #595959;}

.vote_inst .inst_ct > ul:hover .thumb {border-radius: 50%; background: #fff; box-sizing: border-box;}
.vote_inst .inst_ct > ul:hover .talk > a {text-decoration: underline;}

.vote_inst .inst_ct .left_tk:before { left: -15px; top: -5px; width: 39px; height: 29px; background: url(https://cwstatic.asiae.co.kr/election2020/main/L_tta.png) no-repeat;}
.vote_inst .inst_ct .left_tk .thumb a > img {position: absolute; left: 0; top: -14px; width: auto;}
.vote_inst .inst_ct .left_tk .txt_bx {padding-left: 15px; text-align: left;}

.vote_inst .inst_ct .right_tk {position: relative;}
.vote_inst .inst_ct .right_tk:before {right: -18px; bottom: 0; z-index: 3; width: 39px; height: 29px; background: url(https://cwstatic.asiae.co.kr/election2020/main/R_tta.png) no-repeat;}
.vote_inst .inst_ct .right_tk { float: right;}
.vote_inst .inst_ct .right_tk .thumb a > img {position: absolute; left: -10px; top: -23px; width: auto;}
.vote_inst .inst_ct .right_tk .txt_bx {padding-right: 15px; text-align: right;}

/* sec05 */
.sec05 {margin: 70px 0 100px;}
.vote_wrap {position: relative; width: 100%;}
.vote_wrap:after {content:'';display: block;clear: both;}
/* 타임별 뉴스 */
.vote_wrap .time_ns {float: left; padding-bottom:30px; width: 600px;}
.vote_wrap .time_ns ul {position: relative; padding-top: 50px; box-sizing: border-box; width: 100%;}
.vote_wrap .time_ns ul:first-child {padding-top: 0;}
.vote_wrap .time_ns ul:before {content:'';position: absolute; top: 0; left: 5px; width: 2px; height: 100%; background: #D8D8D8;}
.vote_wrap .time_ns ul:after {content:'';display: block;clear: both;}

.vote_wrap .time_ns ul li {position: relative; padding-top: 15px; width: 100%; box-sizing: border-box;}
.vote_wrap .time_ns ul li:first-child {margin-top: 0;}
.vote_wrap .time_ns ul li:after {content:'';display: block;clear: both;}
.vote_wrap .time_ns ul li > div {float: left; position: relative;}
.vote_wrap .time_ns ul li .date {position: absolute; top: -35px; left: -20px; width: 120px; height: 36px; border: 1px solid #959595; border-radius:20px; box-sizing: border-box; color: #959595; text-align: center; line-height: 36px; background: #fff;}

.vote_wrap .time_ns ul .data_bx .time {margin:20px 0 0 30px;}
.vote_wrap .time_ns ul .one_txt .data_bx .time {margin:0 40px 0 30px;}

.vote_wrap .time_ns ul .data_bx .time p {font-family: 'notokrR'; font-size: 18px; font-weight: bold; color: #111;}
.vote_wrap .time_ns ul .data_bx .time p:before {content:''; position: absolute; left: -5px; bottom: 0; width: 22px; height: 22px; background: url(https://cwstatic.asiae.co.kr/election2020/main/time_ck.png) no-repeat;}

.vote_wrap .time_ns ul .news_bx {margin-left: 40px; display: table; width: 450px;}
.vote_wrap .time_ns ul .news_bx > div {display: table-cell;}

.vote_wrap .time_ns ul .news_bx .thumb {float: left; margin-right: 15px; width: 100px; height: 65px; overflow: hidden; }
.vote_wrap .time_ns ul .news_bx .thumb a {display: block; vertical-align: top; width: 100px; height: 65px; overflow: hidden;border: 1px solid rgba(0,0,0,.05); border-radius: 5px; box-sizing: border-box;}
.vote_wrap .time_ns ul .news_bx .txt {vertical-align: middle;}
.vote_wrap .time_ns ul .news_bx .txt p a {font-family: 'notokrR'; font-size: 17px; color: #111; letter-spacing: -1px;text-overflow: ellipsis; word-break: break-all;}
.vote_wrap .time_ns ul .news_bx .txt p:hover a {text-decoration: underline;}

.vote_wrap .time_ns ul .one_txt p a {font-family: 'notokrR'; font-size: 17px; color: #111; letter-spacing: -1px;text-overflow: ellipsis; word-break: break-all;}
.vote_wrap .time_ns ul .one_txt p:hover a {text-decoration: underline;}

.vote_wrap .time_ns .btn_more { padding-top: 20px; text-align: center; margin-top: 20px; border-top: 1px solid #d8d8d8;}
.vote_wrap .time_ns .btn_more a {position: relative; font-size: 17px; letter-spacing: -1px; line-height: 1; font-family: 'notokrR'; color: #595959;}
.vote_wrap .time_ns .btn_more a:after {content:'';display: block; position: absolute; right: -17px; top: 1.3px; width: 9px; height: 15px; background: url(https://cwstatic.asiae.co.kr/election2020/main/btn_mr.png) no-repeat;}
.vote_wrap .time_ns .btn_more a:hover {text-decoration: underline;}

/* 투표 박스 */
.vote_wrap .vote_bx {float: right; width: 310px; height:565px; background: url(https://cwstatic.asiae.co.kr/election2020/main/vote_bx.png) no-repeat;}
.vote_wrap .vote_bx a {padding: 0 35px; width: 100%; height: 100%; box-sizing: border-box;}
.vote_wrap .vote_bx a .vote_hd {margin: 40px auto 35px; width: 88px; height: 30px; background: url(https://cwstatic.asiae.co.kr/election2020/main/vote_hd.png) no-repeat; background-size: contain;}
.vote_wrap .vote_bx a .quest {font-size: 17px; color: #fff; font-family: 'notokrR'; letter-spacing: -1px; line-height: 26px;}
.vote_wrap .vote_bx a .quest .img {float: left; width: 48px;}

.vote_wrap .vote_bx a .answer {font-size: 17px; color: #fff; font-family: 'notokrR'; letter-spacing: -1px; line-height: 26px;}
.vote_wrap .vote_bx a .answer span {display: block;}

.vote_wrap .vote_bx a .btn_vt {margin-top: 40px; width: 240px; height: 50px; line-height: 50px; color: #fff; border: 1px solid #fff; text-align: center; border-radius: 30px; font-size: 17px; color: #fff; font-family: 'notokrR'; letter-spacing: -1px;}
.vote_wrap .vote_bx a .btn_vt:hover {background: #FFE076; color: #111;}

/* sec06 */
.sec06 {width: 100%;}
.vote_date {}
.vote_date .date_hd {margin: 0 auto 40px; width: 200px; height: 50px; background: url(https://cwstatic.asiae.co.kr/election2020/main/date_hd.png) no-repeat; background-size: contain;}

.date_ct {display: block; position:relative; width:100%; height:185px;background: url(https://cwstatic.asiae.co.kr/election2020/main/line.png) repeat-x 0 62px;z-index:30; font-size: 0;}

.date_ct .scr_wrap {overflow:hidden; width: 100%; position:relative; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.date_ct .scroll { overflow:hidden; overflow-x:auto; width:100%;}
.date_ct .scroll ul {width: 100%; height: 100%; font-size: 0; white-space: nowrap; }
.date_ct .scroll ul:after {content:'';display: block;clear: both;}
.date_ct .scroll ul li {display: inline-table; margin-left: 30px; width: 225px;  font-family: 'notokrR'; letter-spacing: -1px; text-align: center;}
.date_ct .scroll ul li:first-child {margin-left: 0;}
.date_ct .scroll ul li .date {font-size: 17px;font-weight: bold; color: #111;}
.date_ct .scroll ul li .date em {display: block;}
.date_ct .scroll ul li .step {margin-top: 50px; position: relative; font-size: 21px;  color: #5147d5;height: 80px; line-height: 80px; border-radius: 10px; border: 1px solid #a2a2a2; box-sizing: border-box;}
.date_ct .scroll ul li .step:before {content:''; display: block; position: absolute; left: 50%; top: -41px; transform: translateX(-50%); width: 27px; height: 41px; background: url(https://cwstatic.asiae.co.kr/election2020/main/date_ck.png) no-repeat;}


@media only screen and (max-width:1100px){
    /* 총선 메인 */
    .vote_main .top_ns .news {width: 30%;}
    .vote_main .top_ns {padding: 0 20px 50px; width: 100%; box-sizing: border-box;}
    .vote_main .top_ns .news {width: 32%;}
    .vote_main .top_ns .second {margin: 0 2%;}
    .vote_main .top_ns .thumb .txt_bx {left: 5%; width: 90%;}
    
    /* 정치판 이야기 */
    .vote_talk {padding: 0 20px; box-sizing: border-box;}
    
    /* 선거 정당:빅매치 */
    .vote_party {padding: 0 20px 50px; width: 100%; box-sizing: border-box;}
    .vote_party .party {width: 32%;}
    .vote_party .party.second {margin: 0 2%;}
    
    /* 총선 인싸 */
    .vote_inst {padding: 0 20px; box-sizing: border-box;}
    
    /* 총선 타임별 뉴스 */
    .vote_wrap {padding: 0 20px; box-sizing: border-box;}
    .vote_wrap .time_ns {width: 60%;}
    .vote_wrap .time_ns ul .news_bx {margin-left: 5%; width: 80%;}
    
    /* 총선 일정 */
    .vote_date {padding: 0 20px; box-sizing: border-box;}
    
    .date_ct .scroll .step li {}
    
}

@media only screen and (max-width:768px){
    .vote_main .top_ns .news {height: 220px;}
    .vote_main .top_ns .thumb .txt_bx .tit a {font-size: 19px;}
    .vote_main .top_ns .thumb .txt_bx {bottom: -80px; height: 150px;}
}

@media only screen and (max-width:425px){
    .vote_main .top_ns .news {margin-bottom: 20px; width: 100%;}
    .vote_main .top_ns .second {margin: 0 0 20px 0;}
}















